:root {
  /* Base font sizes */
  --fs10: 10px; /* Extra Small */
  --fs12: 12px; /* Small */
  --fs13: 13px; /* Small Medium */
  --fs14: 14px; /* Base */
  --fs16: 16px; /* Medium */
  --fs18: 18px; /* Large */
  --fs20: 20px; /* Extra Large */
  --fs24: 24px; /* 2XL */
  --fs30: 30px; /* 3XL */
  --fs32: 32px; /* 4XL */

  /* sizes */

  --s-20: 20px;

  /* height */
  --h-48: 48px;
  --h-40: 40px;

  /* border radius */
  --br-8: 8px;
  --br-6: 6px;

  /* padding */
  --p-12: 12px;
  --p-16: 16px;
  --p-30: 30px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs14);
  font-weight: 400;
  margin-bottom: 0px !important;
}

.pointer {
  cursor: pointer;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  :root {
    --fs10: 10px;
    --fs12: 12px;
    --fs13: 13px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs30: 30px;
    --fs32: 32px;
  }
}

/* Large devices (1024px and up) */
@media (min-width: 1024px) {
  :root {
    --fs10: 10px;
    --fs12: 12px;
    --fs13: 13px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs30: 30px;
    --fs32: 32px;
  }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  :root {
    --fs10: 10px;
    --fs12: 12px;
    --fs13: 13px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs30: 30px;
    --fs32: 32px;
  }
}

/* Small devices (480px and up) */
@media (min-width: 480px) {
  :root {
    --fs10: 10px;
    --fs12: 12px;
    --fs13: 13px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs30: 30px;
    --fs32: 32px;
  }
}

/* Mobile devices (320px and up) */
@media (min-width: 320px) {
  :root {
    --fs10: 9px;
    --fs12: 11px;
    --fs13: 12px;
    --fs14: 13px;
    --fs16: 15px;
    --fs18: 17px;
    --fs20: 19px;
    --fs24: 22px;
    --fs30: 28px;
    --fs32: 30px;
  }
}
