.mainDiv {
  display: flex;
}
.closedDiv,
.bodyDiv {
  padding: 25px 10px;
  width: calc(100vw - 16.8%);
}

.closedDiv {
  width: calc(100vw - 7%);
}

@media screen and (max-width: 1400px) {
  .bodyDiv {
    width: calc(100vw - 24.6%);
  }
}
