.mainDiv {
  display: flex;
}
.closedDiv,
.bodyDiv {
  padding: 25px 10px;
  width: calc(100vw - 16.8%);
}

.closedDiv {
  width: calc(100vw - 7%);
}

@media screen and (max-width: 1400px) {
  .bodyDiv {
    width: calc(100vw - 24.6%);
  }
}
@media (max-width: 991px) {
  .bodyDiv {
    width: calc(100vw - 9.1%);
  }
}

@media screen and (max-width: 767px) {
  .bodyDiv {
    width: calc(100vw - 10.1%);
  }
}
@media screen and (max-width: 576px) {
  .bodyDiv {
    width: calc(100vw - 12%);
  }
}

@media screen and (max-width: 480px) {
  .bodyDiv {
    width: calc(100vw - 14%);
  }
}
@media screen and (max-width: 400px) {
  .bodyDiv {
    width: calc(100vw - 16%);
  }
}
@media screen and (max-width: 360px) {
  .bodyDiv {
    width: calc(100vw - 19%);
  }
}