.title {
  color: var(--black-200);
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editIcon {
  color: var(--dark-gray-600);
  width: var(--w-20);
  cursor: pointer;
  height: var(--h-20);
}

.informationSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.informationItem {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.informationItem svg {
  width: 16px;
  color: var(--black-200);
  height: 16px;
}

.label {
  color: var(--black-200);
}

.value {
  color: var(--dark-gray-600);
}

.statusValue {
  display: flex;
  padding: 2px 12px;
  align-items: center;
  text-transform: capitalize;
  gap: 4px;
  border-radius: 100px;
}

.activeStatus {
  background: var(--secondary-bg);
  color: var(--secondary-dark);
}

.inactiveStatus {
  background: var(--error-bg);
  color: var(--error);
}

.descriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.descriptionTitle {
  color: var(--black-200);
  margin: 0;
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 12px;
}

.descriptionContent {
  color: var(--dark-gray-600);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background: var(--light-gray-100);
  border-radius: 8px;
  border: 1px solid var(--light-gray-200);
  min-height: 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  height: 100%;
}

.informationSectionJobRequests {
  border-right: 1px solid var(--gray-300);
  padding-right: 12px;
}

.jobRequestsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.jobRequestsSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
