.notificationCard {
  background: var(--white);
  padding: var(--p-16) 0;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-200);
  transition: all 0.3s ease;
}

.notificationCardHeader {
  display: flex;
  justify-content: space-between;
}
.message , .title , .date {
    font-family: var(--font-rethink);
}
.title{
    color: var( --text-primary);
}
.message , .date{
    color: var(  --dark-gray-300);
}
/* .unseenNotificationCard{
    background: var(--green-bg);
} */