.tableWrapper {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}
.responsiveTable {
  width: 100%;
}
.tableHeader th {
  background: var(--white);
  border-bottom: 1px solid var(--blue-bg);
  color: var(--blue-bg-dark);
  font-size: var(--fs12);
  position: sticky;
  top: 0;
  font-weight: 600;
  padding: 15px 24px;
}

.tableBody tr {
  border-bottom: 1px solid var(--blue-bg);
}

.tableBody tr:last-child {
  border-bottom: none;
}

.tableBody td {
  color: var(--blue-bg-darker);
  font-size: 15px;
  font-weight: 400;
  padding: 18px 16px;
}

.tableBody tr:nth-child(even) td {
  background: var(--success-bg);
}

.tableBody .bodyRow:hover td {
  background: #e6f4eb34;
}

@media screen and (max-width: 1200px) {
  .tableWrapper {
    overflow-x: auto;
  }
  .responsiveTable {
    border-collapse: collapse;
    min-width: 900px;
  }
}
