.sideBar {
  height: 100dvh;
  width: 16.8%;
  background-color: var(--white);
  padding: 20px 12px;
  position: relative;
  transition: all 0.3s ease;
  border-right: 0.5px solid var(--gray-500);
}

.collapsed {
  width: 7%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 11px;
  margin-block-end: 40px;
}

.logo {
  margin-inline: 20px;
  position: relative;
  width: 64px;
  height: 64px;
  transition: all 0.3s ease;
}

.logo img {
  object-fit: contain;
}
.collapsedLogo {
  margin-block: 0px;
  width: 50px;
  height: 50px;
  margin-inline: 0px;
}

.logoText {
  font-size: var(--fs24);
  font-weight: 400;
  color: var(--primary);
  font-family: var(--font-libre);
  margin-block: 0px;
}

.collapsedLogoText {
  display: none;
}

.navItemIcon {
  color: var(--gray-600);
  width: 24px;
  height: 24px;
  position: relative;
}

.nav {
  max-height: calc(100vh - 180px);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav::-webkit-scrollbar {
  display: none !important;
}

.collapsedNav {
  max-height: calc(100vh - 115px);
}
.navItem {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-bottom: 4px;
  transform: translateX(0px);
  transition: transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

.navItem p {
  transition: all 0.3s ease;
  color: var(--gray-900);
  font-weight: 500;
  font-size: var(--fs16);
}

.collapsed .navItem p {
  opacity: 0;
  transform: translateX(-10px);
  width: 0;
  margin: 0;
  padding: 0;
}

.navItem:hover {
  background: var(--warning);
  color: var(--gray-900);
  transform: translateX(2px);
}
.navItem:hover img {
  filter: brightness(52%);
}

.navItem:hover .navItemIcon {
  color: var(--gray-900);
}

.selectedNavItem {
  border-radius: 6px;
  background: var(--warning);
  color: var(--gray-900);
}
.selectedNavItem img {
  filter: brightness(52%);
}

.collapseButton {
  position: absolute;
  top: 20px;
  right: -13px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--warning);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--gray-900);
  transition: all 0.3s ease;
  z-index: 10;
}

.collapseButton:hover {
  transform: scale(1.1);
}
.subBottom {
  border-top: 0.5px solid var(--text-quaternary);
  padding-block-start: var(--p-30);
}

.subNavItem,
.closedSubBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closedSubBottom {
  padding-block-start: var(--p-16);
}

@media screen and (max-width: 1500px) {
  .sideBar {
    width: 24.6%;
  }
  .collapsed {
    width: 7%;
  }
}
