.headerHeading {
  font-size: var(--fs18);
  font-weight: 600;
  color: var(--black-200);
  font-family: var(--font-rethink);
  margin-top: var(--m-24) !important;
}
.heading{
    font-size: var(--fs14);
    font-weight: 500;
    color: var(--black-200);
    font-family: var(--font-rethink);
    margin-bottom: var(--m-24) !important;
}
.plansDiv {
  padding-top: var(--p-24);
}
.headingSection {
  padding-top: 0;
}
.tabs {
  margin-block-start: 26px;
}
