.rowGap {
  row-gap: 20px;
}
.footerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer {
  display: flex;
  gap: 12px;
  width: 100%;
}
.cancelButton , .createButton {
  width: 100% !important;
  border-radius: 100px !important;
}